
<!-- block -->
<div class="block">
    <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">List Administrators</div>
    </div>
    <div class="block-content collapse in">
        <div class="span12">
            <div class="table-toolbar">
                <div class="btn-group">
                    <a href="#/new"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                </div>
                <div class="btn-group pull-right">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">Tools <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
            </div>


            <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="span6"><div id="example2_length" class="dataTables_length"><label><select size="1" name="example2_length" aria-controls="example2"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="span6"><div class="dataTables_filter" id="example2_filter"><label>Search: <input type="text" aria-controls="example2"></label></div></div></div><table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-bordered dataTable" id="example2" aria-describedby="example2_info">
                <thead>
                <tr role="row"><th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 120px;">First Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 120px;">Last Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 150px;">Email</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 120px;">Telephone</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 100px;">Address</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 50px;">Status</th></tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="gradeA odd" ng-repeat="admin in alladmins" ng-click="editUser(admin.id)">
                    <td class=" sorting_1">{{admin.firstName}}</td>
                    <td class=" ">{{admin.lastName}}</td>
                    <td class=" ">{{admin.email}}</td>
                    <td class="center ">{{admin.tel}}</td>
                    <td class="center ">{{admin.adress}}</td>
                    <td class="center ">*********</td>
                </tr>
                </tbody></table><div class="row"><div class="span6"><div class="dataTables_info" id="example2_info">Showing 1 to 10 of 57 entries</div></div><div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul><li class="prev disabled"><a href="#">Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next</a></li></ul></div></div></div></div>
        </div>
    </div>

    <!-- /block -->
</div>
