

<h1 style="opacity: 0.7">Restaurant Name</h1>
<div ><ng-include src="'servicesProvidersViews/Business/menu.html'"/></div>
        <div>
            <ng-include src="'servicesProvidersViews/Business/Dishes/disheshow.html'"/>
        </div>




<tabset justified="true">
    <tab heading="Establishment°1">

          <div class="row-fluid">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail" >
                   <a href="" ng-click="open('lg')"> <img src="http://placehold.it/320x150" ></a>
                    <div class="caption">
                        <h4 class="pull-right">$24.99</h4>
                        <h4><a href="" ng-click="open('lg')">First Product</a>
                        </h4>
                        <p>See more about <a  href="" target="_blank" ng-click="open('lg')">dish name</a>.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>  
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </tab>
    <tab heading="Establishment°2">
        <div class="row-fluid">
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail" >
                    <img src="http://placehold.it/320x150" >
                    <div class="caption">
                        <h4 class="pull-right">$24.99</h4>
                        <h4><a href="#">First Product</a>
                        </h4>
                        <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Establishment°3">Long Labeled Justified content</tab>
</tabset>